@use 'variables' as v;

@mixin phone {
    @media(min-width: 480px){
        @content;
    }
}

@mixin tablet {
    @media(min-width: 768px){
        @content;
    }
}

@mixin desktop {
    @media(min-width: 992px){
        @content;
    }
}

@mixin desxtopXL{
    @media(min-width: 1200px){
        @content;
    }
} 

@mixin grid($columns: 2, $gap : 5rem){
    display: grid;
    grid-template-columns: repeat($columns, 1fr);
    gap: $gap;
}
