@use 'base/variables' as v;
@use 'base/mixins' as m;

.linup{
    background-color: v.$pink;
    padding: 5rem 0;

    .day{
        text-transform: uppercase;
        margin: 3rem 0;
    }

    h3, p{
        text-align: center;
        color: v.$white;
    }
}

.stage-content{

    @include m.tablet{
       @include m.grid; 
    }

    .stage{
        margin-bottom: 6rem;
        padding: 3rem 0;
    }

    p{
        color: v.$black;
        &::after{
            content: "";
            display: block;
            width: 20rem;
            height: 10rem;
            margin: 3rem auto 0 auto;
            background-size: 15rem;
            background-repeat: no-repeat;
            background-position: center center;
        }
    }
}

.edm .stage-name::after{
    background-image: url(../img/icono_edm.png);
}

.rock .stage-name::after{
    background-image: url(../img/icono_rock.png);
}
.calendar{
    margin: 0;
    padding: 0;
    list-style: none;
    li{
        padding: 2.5rem ;
        font-weight: 700;
        span{
            font-weight: 400;
        }
    }
}
.bg-yellow{
    background-color: v.$yellow;

    li:nth-child(odd){
        background-color: darken(v.$yellow, $amount: 30) ;
    }
}
.bg-green{
    background-color: v.$green;

    li:nth-child(odd){
        background-color: darken(v.$green, $amount: 10);
    }
}